<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <!--th:href="@{/app.css} this tells the timeleaf engine to generate a URL to the css file  -->
    <link rel="stylesheet" th:href="@{/app.css}"/>
    <title>DCMA Program Checker</title>
</head>
<body>
<h1>Category Details</h1>

<p th:text="${category.name}"></p>
<small th:text="${category.id}"></small>

<h1>Programs</h1>

<ul>
    <li th:each="program : ${programs}">
        <a th:href="@{'/programs/' + ${program.title}}" th:text="${program.title}">program title</a>
    </li>
</ul>

<p> <a href="/upload">upload a program</a></p>
<p><a href="/programs">browse programs</a></p>
<p><a href="/categories">browse by category</a></p>
<p><a href="/home">home</a></p>


</body>
</html>