<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <!--th:href="@{/app.css} this tells the timeleaf engine to generate a URL to the css file  -->
    <link rel="stylesheet" th:href="@{/akros.css}"/>
    <title>DCMA Program Checker</title>
</head>
<body>

<div id="container">
    <div id="main">
        <h1>ALTApro - DCMA Program Checker</h1>

        <p>
            ALTApro is an automated construction schedule health check. It uses metrics to assess and provide feedback to the user to help make more robust and effictive construction programs.
        </p>

        </p>
        <p> This process will only test program for symptoms of poorly structured programs. It will provide an objective report on potential structural issues that once corrected should tend to make programs more robust. The process will not report on unrealistic durations or flawed construction sequencing logic.
                     DCMA 14 Point Check
            The DCMA 14-point checklist guideline that has been established to objectively assess programs. More background information on the DCMA assessment can be found at:</p>

        <p></p><a href="https://www.planacademy.com/dcma-14-point-schedule-assessment"/>https://www.planacademy.com/dcma-14-point-schedule-assessment</a>


    </div>
</div>

<footer id="footer">
    <p> <a href="/upload">upload a program</a></p>
    <p><a href="/programs">browse programs</a></p>
    <p><a href="/categories">browse by category</a></p>
    <p><a href="/home">home</a></p>
</footer>

</body>
</html>